<!doctype html>
<html lang="en">
    <head>
        <title>SOGPEE</title>
        <link rel="stylesheet" href="../css/login.css">
        
    </head>

    <body>
        <!--Encabezado-->
        <header class="cabecera">
            <section id="bar">
                <img src="../img/hidden-bar.png" alt="" height="40" id="menu-icon">
            </section>
            <div class="logoUPT" >
                <img src="../img/logo upt.png" alt="logo UPT" height="80">
            </div>
        </header>
        <div class="inicio">
            <div id="panel"class="panel">
                <ul id="lista">
                    <span>Responsabilidades</span>
                    <li><a href="index.php" id="perfil">Inicio</a></li>
                    <li><a href="loginEstudiante.php" id="perfil">Estudiante</a></li>
                    <li><a href="asesorEmpresarial.php" id="perfil">Asesor empresarial</a></li>
                    <li><a href="loginAsesorAcademico.php" id="perfil">Asesor academico</a></li>
                    <li> <a href="loginCoordinacion.php" id="perfil">Coordinacion</a></li>
                </ul>
            </div>
            
            <div class="Dformulario">
            <form action="#" method="post" id="formulario">
                    Iniciar sesión
                    <br>
                    Correo
                    <input type="text" name="" id="">
                    Contraseña
                    <input type="password" name="" id="">
                    <br>
                    <button type="submit">Iniciar Sesión</button>
                    <a href="">Recuperar contraseña</a>
                    </form>
                    <br>
            </div>
        </div>
        
    <script src="js/script.js"></script>
    </body>
</html>
