<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formularios de Estancias y Estadía</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cuestionario_salida2.css') }}">
</head>
<body>
<header class="header">
    <nav class="nav container">
        <a href="#estancia1" class="nav-item active" onclick="showForm('estancia1', this)">ESTANCIA I</a>
        <a href="#estancia2" class="nav-item" onclick="showForm('estancia2', this)">ESTANCIA II</a>
        <a href="#estadia" class="nav-item" onclick="showForm('estadia', this)">ESTADÍA</a>
    </nav>
</header>

<main class="container">
    <section id="estancia1" class="form-section active">
        <h1>INGENIERÍA EN TECNOLOGÍAS DE MANUFACTURA</h1>
        <h1>Formulario de Estancia I</h1>
        <div class="question-container">
            <div class="question">
                <h2 class="question-title">¿CUÁLES SON LAS TRES FUNCIONES PRIORITARIAS QUE LLEVÓ A CABO EL ESTUDIANTE
                    DURANTE SU ESTANCIA I?</h2>
                <div class="options-grid">
                    <label class="option-item">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" name="funcion-estancia1" value="analizar-recursos">
                            Estructurar sistemas de producción
                        </div>
                    </label>
                    <label class="option-item">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" name="funcion-estancia1" value="planificar-recursos">
                            Control estadístico de calidad
                        </div>
                    </label>
                    <label class="option-item">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" name="funcion-estancia1" value="diagnosticar-estado">
                            Aplicar software de diseño
                        </div>
                    </label>
                    <label class="option-item">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" name="funcion-estancia1" value="diagnosticar-estado">
                            Implementación de normatividad para optimizar recursos
                        </div>
                    </label>
                    <label class="option-item">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" name="funcion-estancia1" value="diagnosticar-estado">
                            Análisis de rentabilidad de productos
                        </div>
                    </label>
                    <label class="option-item">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" name="funcion-estancia1" value="diagnosticar-estado">
                            Implementación de normatividad para optimizar recursos
                        </div>
                    </label>
                    </label>
                    <!-- Añade más opciones aquí siguiendo el mismo patrón -->
                    <label class="option-item other-option">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" name="funcion-estancia1" value="otras">
                        </div>
                        <input type="text" placeholder="Otras funciones...">
                    </label>
                </div>
            </div>
        </div>
    </section>

    <section id="estancia2" class="form-section">
        <h1>INGENIERÍA EN TECNOLOGÍAS DE MANUFACTURA</h1>
        <h1>Formulario de Estancia II</h1>
        <div class="question-container">
            <div class="question">
                <h2 class="question-title">¿CUÁLES SON LAS TRES FUNCIONES PRIORITARIAS QUE LLEVÓ A CABO EL ESTUDIANTE
                    DURANTE SU ESTANCIA II?</h2>
                <div class>
                    <div class="options-grid">
                        <label class="option-item">
                            <div class="checkbox-wrapper">
                                <input type="checkbox" name="funcion-estancia1" value="diagnosticar-estado">
                                Gestión procesos de manufactura
                            </div>
                        </label>
                        <label class="option-item">
                            <div class="checkbox-wrapper">
                                <input type="checkbox" name="funcion-estancia1" value="diagnosticar-estado">
                                Gestionar estándares de calidad
                            </div>
                        </label>
                        <label class="option-item">
                            <div class="checkbox-wrapper">
                                <input type="checkbox" name="funcion-estancia1" value="diagnosticar-estado">
                                Estructurar mejoras en los procesos productivos
                            </div>
                        </label>
                        <label class="option-item">
                            <div class="checkbox-wrapper">
                                <input type="checkbox" name="funcion-estancia1" value="diagnosticar-estado">
                                Planear diagnostico de procesos de producción
                            </div>
                        </label>
                        <label class="option-item">
                            <div class="checkbox-wrapper">
                                <input type="checkbox" name="funcion-estancia1" value="diagnosticar-estado">
                                Controlar procesos de producción
                            </div>
                        </label><label class="option-item">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" name="funcion-estancia1" value="diagnosticar-estado">
                            Eficientar el manejo de recursos (Humanos, materiales, financieros)
                        </div>
                    </label><label class="option-item">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" name="funcion-estancia1" value="diagnosticar-estado">
                            Desarrollar sistemas de calidad
                        </div>
                    </label>
                        <label class="option-item">
                            <div class="checkbox-wrapper">
                                <input type="checkbox" name="funcion-estancia1" value="diagnosticar-estado">
                                Coordinar planes de mantenimiento de TPM, jidoka
                            </div>
                        </label>
                        <label class="option-item">
                            <div class="checkbox-wrapper">
                                <input type="checkbox" name="funcion-estancia1" value="diagnosticar-estado">
                                Manejar software especializado
                            </div>
                        </label>
                        <label class="option-item">
                            <div class="checkbox-wrapper">
                                <input type="checkbox" name="funcion-estancia1" value="diagnosticar-estado">
                                Manejo de Equipo y maquinaria auxiliar en la organización
                            </div>
                        </label>
                        <label class="option-item other-option">
                            <div class="checkbox-wrapper">
                                <input type="checkbox" name="funcion-estancia1" value="otras">
                            </div>
                            <input type="text" placeholder="Otras funciones...">
                        </label>
                    </div>
                </div>
            </div>
    </section>

    <section id="estadia" class="form-section">
        <h1>INGENIERÍA EN TECNOLOGÍAS DE MANUFACTURA</h1>
        <h1>Formulario de Estadía</h1>
        <div class="question-container">
            <div class="question">
                <h2 class="question-title">¿CUÁLES SON LAS TRES FUNCIONES PRIORITARIAS QUE LLEVÓ A CABO EL ESTUDIANTE
                    DURANTE SU ESTADÍA?</h2>
                <div class="options-grid">
                    <label class="option-item">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" name="funcion-estancia1" value="diagnosticar-estado">
                            Evaluar proyectos productivos estratégicos e innovadores
                        </div>
                    </label>
                    <label class="option-item">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" name="funcion-estancia1" value="diagnosticar-estado">
                            Aplicar software de simulación
                        </div>
                    </label>
                    <label class="option-item">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" name="funcion-estancia1" value="diagnosticar-estado">
                            Aplicar herramientas de manufactura avanzada
                        </div>
                    </label>
                    <label class="option-item">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" name="funcion-estancia1" value="diagnosticar-estado">
                            Gestionar propuestas tecnológicas innovadoras
                        </div>
                    </label>
                    <label class="option-item">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" name="funcion-estancia1" value="diagnosticar-estado">
                            Diseñar productos utilizando paquetes CAD-CAM-CAE
                        </div>
                    </label>
                    <label class="option-item">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" name="funcion-estancia1" value="diagnosticar-estado">
                            Validar proyectos productivos
                        </div>
                    </label>
                    <label class="option-item">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" name="funcion-estancia1" value="diagnosticar-estado">
                            Toma de decisiones para mejora de competitividad
                        </div>
                    </label>
                    <label class="option-item">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" name="funcion-estancia1" value="diagnosticar-estado">
                            Generar planos y especificaciones de producto
                        </div>
                    </label>
                    <label class="option-item">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" name="funcion-estancia1" value="diagnosticar-estado">
                            Analizar procesos y productos
                        </div>
                    </label>
                    <label class="option-item">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" name="funcion-estancia1" value="diagnosticar-estado">
                            Generar estrategias de productividad y competitividad
                        </div>
                    </label>
                    <label class="option-item other-option">
                        <div class="checkbox-wrapper">
                            <input type="checkbox" name="funcion-estancia1" value="otras">
                        </div>
                        <input type="text" placeholder="Otras funciones...">
                    </label>

                </div>
            </div>
        </div>
    </section>
    <section>
        <div>
            <label for="">¿EL PROYECTO RESOLVIÓ SU NECESIDAD ?</label><br>
            <input type="radio"> Si
            <br>
            <input type="radio"> No
        </div>
        <div>
            <label for="">LE INTERESARÍA PARTICIPAR EN PROYECTOS DE INVESTIGACIÓN Y DESARROLLO TECNOLÓGICO, ASESORADOS
                POR LA UNIVERSIDAD POLITÉCNICA DE TECÁMAC?</label>
            <input type="radio"> Si
            <br>
            <input type="radio"> No
        </div>
        <div>
            <label for="">¿REALIZA INVESTIGACIÓN Y DESARROLLO EN SU EMPRESA?</label>
            <input type="radio"> Si
            <br>
            <input type="radio"> No
        </div>
        <div>
            <label for="">¿ESTARÍA USTED DISPUESTO A CONTRATAR A EGRESADOS DE LA UNIVERSIDAD POLITÉCNICA DE
                TECÁMAC?</label>
            <input type="radio"> Si
            <br>
            <input type="radio"> No
            <br>

            <label for="">¿POR QUÉ?</label><br>
            <input type="text">
        </div>
        <div>
            <label for="">¿APRUEBA LA EDICIÓN ELECTRÓNICA Y/O IMPRESA DE LA VERSIÓN FINAL DEL
                PROYECTO?</label>
            <input type="radio"> Si
            <br>
            <input type="radio"> No
        </div>
        <div>
            <label for="">CLÁUSULA ESPECIAL DE LAS CONDICIONES DE EDICIÓN POR PARTE DEL ASESOR
                EMPRESARIAL (EN CASO DE EXISTIR)</label><br>

            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
    </section>

</main>

<script>
    function showForm(formId, clickedItem) {
        // Ocultar todos los formularios
        document.querySelectorAll('.form-section').forEach(form => {
            form.classList.remove('active');
        });

        // Mostrar el formulario seleccionado
        document.getElementById(formId).classList.add('active');

        // Actualizar la clase activa en el menú
        document.querySelectorAll('.nav-item').forEach(item => {
            item.classList.remove('active');
        });
        clickedItem.classList.add('active');
    }

</script>
</body>
</html>